{{!-- Пока кнопка ссылка, после добавления роутинга помеяется на button --}}
{{!-- <button class="button {{view}}" type={{type}} form={{form}}>{{title}}</button> --}}

<a class="button {{view}}" href={{href}}>{{title}}</a>